.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  background-color: #1E1E1E;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;

  &__burger-btn {
    position: relative;
    z-index: 4;
    display: none;
    color: #FFFFFF;
    margin-left: 60px;
  }
}

.header-logo {

  &__img {
    border-radius: 4px;
    height: 70px;
    width: auto;
    margin-top: 10px;
  }
}

.header-navigation {
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;

    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    list-style: none;
    color: #FFFFFF;
  }

  &__list-item a {
    position: relative;

    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;

    color: #FFFFFF;
    text-decoration: none;
  }

  &__list-item a::before {
    position: absolute;

    width: 0;
    height: 3px;
    bottom: -10px;
    left: 50%;

    background-color: #7E5AFF;
    content: "";
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }

  &__list-item a:hover:before {
    width: 100%;
  }

  &__list-item a:focus {
    border-radius: 4px;
    border: 1px solid #7E5AFF;
    opacity: 0.3px;
  }

  &__list-item a:focus::before {
    width: 0;
  }
}

.search {
  color: #FFFFFF;
}

.header-form {
  display: flex;
  align-items: center;
  margin-right: 32px;

  &__search {
    border: 1px solid #7E5AFF;
    border-radius: 4px;
  }

  &__search-input {
    width: 150px;
    padding: 5px 15px;
    font-size: 16px;

    outline: none;
    color: #FFFFFF;
    background-color: #1E1E1E;
    border: 1px;
    border-radius: 4px 0 0 4px;

    cursor: pointer;

    ::placeholder {
      color: #bebebe;
    }

    .search {
      color: #bebebe;
    }
  }

  &__search-btn {
    font-size: 16px;
    padding: 3px 8px;

    outline: none;
    border: 1px solid #7E5AFF;
    border-radius: 0 4px 4px 0;
    background-color: #1E1E1E;
    border: 1px;
    cursor: pointer;
  }

  ::placeholder {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    opacity: 1;

    &__icon {
      color: #FFFFFF;
    }

    svg {
      color: #FFFFFF;
    }
  }

  &:focus::placeholder {
    color: #FFFFFF;
  }
}

@media(max-width: 1130px) {
  .header {
    flex-direction: row;
    height: 100px;
  }

  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__burger-btn {
      position: relative;
      z-index: 4;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #FFFFFF;

      .close-icon {
        color: #1E1E1E;
      }

      .menu-icon {
        color: #FFFFFF;
      }
    }

    &__burger-btn a {
      color: #1E1E1E;
    }
  }

  .header-navigation {
    display: none;

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      width: 100%;
      height: 100vh;
      right: 0;
      top: 0;
      background-color: #e5e2f1;
      z-index: 1;
      transition: left 1s;
    }

    &.header-navigation_list_active {
      display: flex;
    }

    &__list a {
      font-size: 28px;
    }

    &__list-item {
      padding-top: 10px;
      font-size: 10px;
      color: #1E1E1E;
    }

    &__list-item a {
      color: #111111;
    }
  }

  svg {
    color: #FFFFFF;
  }
}

@media(max-width: 500px) {
  .header {
    flex-direction: column;
    height: 130px;
    overflow-x: hidden;
  }

  .header-logo {

    &__img {
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  .header-navigation {
    flex-direction: column;

    &__list {
      flex-direction: column;
    }

    &__list-item {
      padding-top: 10px;
    }

  }
  .logo-nav {
    margin-left: -80px;
  }

  .header-form {
    margin-bottom: 10px;
  }
}
